<!DOCTYPE html>
<html>
<head>
	<title>K-Tree : Optimize your time! Be Smarter!</title>
</head>
<body>
	<div class="ui top attached menu">
		<div class="header item">
			<i class="green tree icon"></i>
			 K-Tree
		</div>
		<div class="item">
			About Us
		</div>
	</div>

	<div class="ui aligned center container segment">
		<div class="ui centered card">
		  <div class="image">
		    <img src="../static/images/tree.png">
		  </div>
		  <div class="content">
		    <a class="header">K-Tree</a>
		    <div class="description">
		      You can organize your documents using K-Tree software!
		    </div>
		  </div>
		</div>
		<div class="ui grid">
			<div class="six wide column"></div>
			<div class="six wide column">
				<a class="ui inverted green button" href="javascript:void(0)">Upload Your Files!</a>
			</div>
		</div>
	</div>

<link rel="stylesheet" type="text/css" href="../static/Semantic-UI/dist/semantic.min.css">
<script type="text/javascript" src="../static/Semantic-UI/dist/semantic.min.js"></script>
<script type="text/javascript" src="../static/jquery-3.1.1.min.js"></script>
</body>
</html>